body {
    padding-top: 60px;
}
#featuredCarousel img {
    height: 200px;
}

table#cartTable img {
    height: 2em;
}

.productDetail img {
    max-height: 15em;
}

.jumbotron {
    padding-top: 10px;
    padding-bottom: 0px;
}

.jumbotron h1 {
    margin: 0;
}

@media screen and (min-width: 768px) {
    .jumbotron {
        padding-top: 10px;
        padding-bottom: 0px;
    }
}