<h1>Search for products</h1>

<div id="searchedTerm" class="text-primary bg-primary">You're searching for '{{searchString}}'</div>
Enter all or part of the description: <input ng-model="searchString" name="search" type="text" id="search"/>
<button id="go" class="btn btn-primary">Search</button>

<div class="table">
  <div class="row hidden-xs">
    <div class="col-sm-2">Photo</div>
    <div class="col-sm-5">Name</div>
    <div class="col-sm-3">Quantity Per Unit</div>
    <div class="col-sm-2">Price</div>
  </div>
  <div ng-repeat="product in products | filter:{ productName:searchString }" class="row">
    <div class="col-sm-2"><a href="#/{{ product.productID }}"><img class="img-responsive" ng-src="/assets/img/ProductImages/{{ product.productID }}.jpg"/></a></div>
    <div class="col-sm-5"><a href="#/{{ product.productID }}">{{ product.productName }} <span ng-show="product.featured" class="label label-success">Featured</span></a></a></div>
    <div class="col-sm-3">{{ product.quantityPerUnit }}</div>
    <div class="col-sm-2">{{ product.unitPrice | currency:"US$" }}</div>
  </div>

  <div class="row">
    <div class="text-success bg-success">{{ (products | filter:{ productName:searchString }).length }} products found.</div>
  </div>

</div>