<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>View cart/Checkout</title>
  <script src="../node_modules/jquery/dist/jquery.min.js"></script>
  <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="../site.js"></script>
  <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="../../assets/css/site.css"/>
  <script src="../node_modules/angular/angular.min.js" defer></script>
  <script src="/app/shared/sharedModule.js" defer></script>
  <script src="orderingModule.js" defer></script>
  <script src="checkoutController.js"  defer></script>
  <script src="/app/shared/cartService.js" defer></script>
</head>
<body class="container" ng-app="orderingModule">
<div ng-include="'/app/shared/pageHeaderPartial.html'"></div>
<main class="row" ng-controller="checkoutController">
  <h1> Check Out</h1>
  <div class="panel panel-default">
    <div class="panel-body">
      You can change the number of items in your cart below. To remove a product from your cart altogether hit the
      'remove' button
    </div>
  </div>
  <div class="table-responsive">
  <table id='cartTable' class="table table-striped table-hover table-condensed">
    <thead>
    <tr>
      <th>Product Id</th>
      <th>Product Name</th>
      <th>Unit Price</th>
      <th>Quantity</th>
      <th>Extended Price</th>
    </tr>
    </thead>
    <tfoot>
    <tr>
      <td></td>
      <td style='text-align: right'>Subtotal:</td>
      <td></td>
      <td></td>
      <td style='border-top: 5px'>{{ cart.total | currency:"US$" }}</td>
    </tr>
    </tfoot>
    <tbody>
    <tr ng-repeat="line in cart">
      <td>{{line.product.productID}}</td>
      <td>{{line.product.productName}}</td>
      <td>{{line.product.unitPrice | currency:"US$"}}</td>
      <td><input ng-bind="line.quantity" data-id='49' />{{line.quantity}}</td>
      <td>{{ line.product.unitPrice * line.quantity | currency:"US$" }}</td>
      <td><a ng-click='removeFromCart()'><span class="glyphicon glyphicon-trash"></span></a></td>
    </tr>
    </tbody>
  </table>
    </div>
  <fieldset title="Where shall we ship this?">
    <legend>Where shall we ship this?</legend>
    <div class="form-group">
    <label for="shipName"class="control-label">Name to ship to:</label>
    <input name="shipName" class="form-control" type="text" value="Cotton Williams" maxlength="40"
           id="shipName"/>
    </div>
    <div class="form-group">
    <label for="shipAddress"class="control-label">Address:</label>
    <input name="shipAddress" class="form-control" type="text" value="2636 Deep Valley Trail" maxlength="60"
           id="shipAddress"/>
    </div>
    <div class="form-group">
    <label for="shipCity"class="control-label">City:</label>
    <input name="shipCity" class="form-control" type="text" value="Carrollton" maxlength="15" id="shipCity"/>
    </div>
    <div class="form-group">
    <label for="shipRegion"class="control-label">Region/State:</label>
    <input name="shipRegion" class="form-control" type="text" value="TX" maxlength="15" id="shipRegion"/>
    </div>
    <div class="form-group">
    <label for="shipPostalCode"class="control-label">Zip/Postal Code:</label>
    <input name="shipPostalCode" class="form-control" type="text" value="75007" maxlength="10"
           id="shipPostalCode"/>
    </div>
    <div class="form-group">
    <label for="shipCountry"class="control-label">Country:</label>
    <input name="shipCountry" class="form-control" type="text" value="US" maxlength="15" id="shipCountry"/>
      </div>
  </fieldset>
  <fieldset>
    <legend>How shall we ship it?</legend>
    <div class="form-group">
    <label for="shipVia"class="control-label">Shipping method:</label>
    <select name="shipVia" class="form-control" id="shipVia">
      <option value="1">UPS Next Day Air - $262.70</option>
      <option value="2">UPS 2nd Day Air - $140.73</option>
      <option value="3">UPS Ground - $46.91</option>
      <option value="4">FedEx Standard Overnight - $234.55</option>
      <option value="5">FedEx 2Day - $121.97</option>
      <option value="6">FedEx Ground - $49.72</option>
      <option value="7">US Postal Service Priority Mail - $37.53</option>
    </select>
    </div>
  </fieldset>
  <fieldset>
    <legend>How would you like to pay for it?</legend>
    <div class="form-group">
    <label for="creditCardNumber"class="control-label">Credit card number:</label>
    <input name="creditCardNumber" class="form-control" type="text" maxlength="20" id="creditCardNumber"
           autocomplete="off"/>
    </div>
    <div class="form-group">
    <label for="expiryMonth"class="control-label">Expiration:</label>
    <select name="expiryMonth" id="expiryMonth">
      <option value="--">--</option>
      <option value="01">January</option>
      <option value="02">February</option>
      <option value="03">March</option>
      <option value="04">April</option>
      <option value="05">May</option>
      <option value="06">June</option>
      <option value="07">July</option>
      <option value="08">August</option>
      <option value="09">September</option>
      <option value="10">October</option>
      <option value="11">November</option>
      <option value="12">December</option>
    </select>
    <select name="expiryYear" id="ddlExpiryYear">
      <option value="--">--</option>
      <option value="2014">2014</option>
      <option value="2015">2015</option>
      <option value="2016">2016</option>
      <option value="2017">2017</option>
      <option value="2018">2018</option>
      <option value="2019">2019</option>
    </select>
    </div>
    <div class="form-group">
    <label class="control-label"><input id="storeCCNumber" type="checkbox" name="storeCCNumber"/> Remember this credit card number
      for next time I check
      out.</label>
    </div>
  </fieldset>

  <input
  data-toggle="popover" title="Oh, no! A problem!" data-content="Your credit card is still invalid. Please enter another one."
    type="submit" class="btn btn-primary" value="Place Order" id="placeOrder"/>

  </div>

</main>
<footer class="row" ng-include="'/app/shared/pageFooterPartial.html'">
</footer>
</body>
</html>